@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);

  /* Brand Colors */
  --color-brand-blue: var(--color-brand-blue);
  --color-brand-silver: var(--color-brand-silver);
  --color-brand-gray: var(--color-brand-gray);
  --color-brand-black: var(--color-brand-black);
  --color-brand-white: var(--color-brand-white);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors Definitions */
  --color-brand-blue: #87CEEA;
  --color-brand-silver: #BBBAB8;
  --color-brand-gray: #2F414B;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}